.Header {
    background-color: var(--header-card-background);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
    padding: 0 var(--h-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    user-select: none;
    margin-bottom: var(--header-b-margin);
}

h1 {
    font-weight: 800;
    font-size: var(--header-fs);
    cursor: pointer;
}
