@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

:root {
  --header-card-background: #FFFFFF;
  --main-background: #FAFAFA;
  --text-primary: #111517;
  --text-secondary: #848484;
}

[data-theme="dark"] {
  --header-card-background: #2B3844;
  --main-background: #202C36;
  --text-primary: #FFFFFF;
  --text-secondary: #FFFFFF;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

